@font-face {
    font-family: Geist;
    src: url(./img/geist.ttf);

}

@font-face {
    font-family: Geist Mono;
    src: url(./img/geist.ttf);
}

/* general styles */

::selection {
    color: #002fa7;
    background: none;
}

* {
    cursor: cell;
    font-family: Geist;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scrollbar-width: thin;
    scrollbar-color: #ccc #eee;
}

body {
    margin: 0;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.main {
    column-count: 3;
    column-gap: 8px;
    height: fit-content;
    width: 100%;
    padding: 24px;
    background-color: #fff;
}

.intro {
    background-color: hsl(0, 0%, 97%);
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 14px;
    color: #000;
    padding: 24px;
    width: 400px;
    height: auto;
    border-right: 1px hsl(0, 0%, 92%) solid;
}

#left-body {
    position: sticky;
    top: 24px;
    pointer-events: auto;
    z-index: 8;
}

#links {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 16px;
}

#switch-button {
    position: sticky;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
    background-color: hsl(0, 0%, 96%);
    border: 0.5px solid hsl(0, 0%, 90%);
    border-radius: 8px;
    top: 56px;
    color: #a3a3a3;
    transition: 0.3s all ease-out;
}

#switch-button:hover {
    color: #000;
    cursor: pointer;
}

a:hover {
    color: #0056d6;
    cursor: alias;
}

/*project styles */

.p-item {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px transparent solid;
    margin-bottom: 18px;
    padding: 0 4px;
    break-inside: avoid;
    transition: all .4s cubic-bezier(.23, 1, .32, 1);
}

.p-item:hover {
    transform: translateY(-6px);
    cursor: pointer;
}

.p-item img,
.p-item video {
    object-fit: cover;
    width: 100%;
    height: auto;
    z-index: 0;
    background-size: cover;
    border-radius: 8px;
    flex-wrap: nowrap;

}

.details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #333;
    padding: 2px;
}

.details span {
    color: #a3a3a3;
    font-size: 14px
}

a.detail-link {
    cursor: pointer;
}

a,
:visited,
:hover {
    text-decoration: none;
    color: inherit;
}

/*about banner */

#about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    gap: 24px;
    width: 100%;
}

.collapsibleContent {
    margin-top: 8px;
    display: none;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(.34, .36, 0, .98), transform 0.2s cubic-bezier(.34, .36, 0, .98);
    transform: none;
}

.collapsibleContent.show {
    display: block;
    transform: translateY(-4px);
    opacity: 1;
}

.collapse-button {
    color: #a3a3a3;
    user-select: none;
    transition: 0.15s all ease-out;
}

.collapse-button:hover {
    color: #000;
    cursor: pointer;
}

#about-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2px 0 2px;
}

#banner {
    display: flex;
    background: hsl(206, 100%, 73%);
    width: 100%;
    border-radius: 8px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: auto;
}

#action {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex: 1 0 0;
}

#action button {
    height: 100%;
    font-family: Geist;
    display: flex;
    flex-direction: column;
    padding: 12px 18px;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    justify-content: flex-end;
    border: none;
    background: #75C4FF;
    position: relative;
    border-right: 1.5px solid #91D0FF;
    overflow: hidden;
}

#action button i {
    position: absolute;
    opacity: 0;
    font-size: 20px;
    top: auto;
    visibility: hidden;
    transition: all .5s cubic-bezier(.23, 1, .32, 1);
}

#action button:hover {
    background: #66bdff;
    cursor: pointer;
}

#action button span {
    transition: all 0.8s cubic-bezier(.23, 1, .32, 1);
}

#action button:hover i {
    opacity: 1;
    visibility: visible;
    transform: translateY(-7%);
}

#action button:hover span {
    opacity: 0;
    visibility: hidden;
    transform: translateY(56px);
}

#quiz-button {
    color: #fff;
    border-top-left-radius: 8px;
}

#c-button {
    border-top-right-radius: 8px;
    color: hsl(206, 100%, 88%);
}

#bottom-banner {
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 8px;
    align-self: stretch;
    border-top: 1.5px solid #91D0FF;
    word-wrap: break-word
}

/*misc */

.update-date {
    z-index: 2;
    left: 24px;
    bottom: 24px;
    position: fixed;
    margin: 0;
    color: #999;
    font-size: 12px;
}

#mobile-reminder {
    display: none;
}

/*mobile style */

@media screen and (max-width: 680px) {

    body {
        flex-direction: column;
    }

    .intro {
        width: 100%;
        padding: 16px;
    }

    #left-body {
        z-index: 8;
    }

    .main {
        column-count: 1;
        column-gap: 16px;
        padding: 16px;
    }

    a,
    :visited,
    :hover {
        text-decoration: none;
        color: #0056d6;
    }

    #switch-button {
        position: inherit;
    }

    .p-item {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
        font-size: 16px;
    }

    .p-img {
        background-color: #ffffff;
        width: 100%;
        height: 240px;
        border-radius: 8px;
        background-position: right;
    }

    /*about banner */

    #about {
        gap: 16px;
    }

    .collapse-button {
        color: #000;
    }

    #action button i {
        opacity: 1;
        visibility: visible;
        font-size: 36px;
        position: relative;
    }

    #action button span {
        opacity: 1;
        visibility: visible;
    }

    #bottom-banner {
        padding: 16px;
    }

    /*misc */

    #mobile-reminder {
        display: inline;
        color: #a3a3a3;
        padding: 16px 16px 24px 16px;
        font-size: 14px;
        margin: 24px 0 64px 0;
        text-align: center;
        border-bottom: #999 1px dashed;
        border-top: #999 1px dashed;
    }

    .update-date {
        left: 24px;
        bottom: 16px;
        position: fixed;
        margin: 0;
        color: #000;
        font-size: 12px;
    }
}